<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>TaskServlets</display-name>
  <welcome-file-list>
    <welcome-file>Registration.jsp</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>SuccessReg.jsp</welcome-file>
    <welcome-file>Preview.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeleteAccount</display-name>
    <servlet-name>DeleteAccount</servlet-name>
    <servlet-class>com.osr.controller.DelAcc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccount</servlet-name>
    <url-pattern>/DeleteAccount</url-pattern>
  </servlet-mapping>
</web-app>